<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Letsout - Find events near you{% endblock %}</title>
        <meta name="description" content="Localize events near to you with Letsout">
        <meta name="og:description" content="Localize events near to you with Letsout">
        <meta name="robots" content="index, follow">
        <link href="{{ app.request.uri }}" rel="canonical">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
            <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
        {% endblock %}

        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-5230166485232516",
                enable_page_level_ads: true
            });
        </script>
    </head>

    <body>
        <header>
            <div class="header-content">
                <a href="{{ url('index') }}" rel="Homepage">
                    <div class="float-left">
                        <img src="{{ asset('img/logo.png') }}" class="logo-letsout" alt="Logo Letsout" />
                        <span class="title">Letsout - Find events near you</span>
                    </div>
                </a>
                <div class="float-right">
                    <span class="title-right">Lets go out!</span>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        {#<footer>#}
            {#<div class="content">#}
                {#<div class="footer-column-wrapper">#}
                    {#<a href="">Need Help?</a>#}
                    {#<a href="">Who are we? Contact Us</a>#}
                {#</div>#}
                {#<div class="footer-column-wrapper">#}
                    {#<a href="">Sitemap</a>#}
                {#</div>#}
            {#</div>#}
        {#</footer>#}
        <div class="post-footer">
            <div class="content">
                <div class="float-left">
                    Copyright <span>Letsout</span> 2018
                </div>
                <div class="float-right">
                    Powered by <span>ayjou</span>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
